<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= book.available %>
  </p>

      <p>

  <%if book.available %>
        <%= button_to "Borrow Book", 
          borrow_book_path(book),
          method: :post, 
          data: { turbo_confirm: "Are you sure you want to borrow this book?" } %>
    <%else%>
        <%= button_to "Return Book", 
          return_book_path(book),
          method: :post, 
          data: { turbo_confirm: "Are you sure you want to return this book?" } %>
    <%end%>
      </p>


</div>
